@font-face{
    font-family:"Baskerville BT WGL4 W05 Bold";
    src:url("../fonts/039a42ea-1f5b-426f-a2ef-b1ec0a53edcd.eot?#iefix");
    src:url("../fonts/039a42ea-1f5b-426f-a2ef-b1ec0a53edcd.eot?#iefix") format("eot"),url("../fonts/fb1bbd79-b35a-48c8-8f11-f62ca62870aa.woff2") format("woff2"),url("../fonts/4a377c29-dc2b-4c12-be8d-a69efb10f35a.woff") format("woff"),url("../fonts/f5e48fe7-9c0c-43cc-a9be-23a49f254bbe.ttf") format("truetype"),url("../fonts/a9b889b7-df96-4cab-afa5-fcb7a7fd918c.svg#a9b889b7-df96-4cab-afa5-fcb7a7fd918c") format("svg");
}
@font-face{
    font-family:"Baskerville BT WGL4 W05 Bold I";
    src:url("../fonts/babb6564-215c-4edd-9175-864b811d558e.eot?#iefix");
    src:url("../fonts/babb6564-215c-4edd-9175-864b811d558e.eot?#iefix") format("eot"),url("../fonts/d63c72b7-f14a-40d9-8cea-e728bd2fcb78.woff2") format("woff2"),url("../fonts/0dd788bf-dc9c-4cfc-b7d3-b745545aa68f.woff") format("woff"),url("../fonts/703aba27-e439-4b8a-bd9e-dec509652f1e.ttf") format("truetype"),url("../fonts/251485d1-b3d4-43d9-acf1-3a3d3e9773ac.svg#251485d1-b3d4-43d9-acf1-3a3d3e9773ac") format("svg");
}
@font-face{
    font-family:"Baskerville BT WGL4 W05 Roman";
    src:url("../fonts/9feaf75b-8a7d-44e5-a764-1bca328b01f6.eot?#iefix");
    src:url("../fonts/9feaf75b-8a7d-44e5-a764-1bca328b01f6.eot?#iefix") format("eot"),url("../fonts/8f55d436-7468-4f7c-9e88-ea07cb26bc16.woff2") format("woff2"),url("../fonts/d2cb7999-2b9b-46a1-ad18-b42eeac31f12.woff") format("woff"),url("../fonts/3162f91e-fbb5-4d7d-89f0-a44849ad039d.ttf") format("truetype"),url("../fonts/93e98468-cbce-4eab-ad9f-3e5135d42d43.svg#93e98468-cbce-4eab-ad9f-3e5135d42d43") format("svg");
}
@font-face{
    font-family:"Baskerville BT WGL4 W05 Italic";
    src:url("../fonts/bd1e9ca2-c51e-4e6d-a242-1a4e4a63a5a3.eot?#iefix");
    src:url("../fonts/bd1e9ca2-c51e-4e6d-a242-1a4e4a63a5a3.eot?#iefix") format("eot"),url("../fonts/31793cb0-3a73-44a4-ab53-3faa7db0e374.woff2") format("woff2"),url("../fonts/0da0fdba-4c0b-4347-96d8-6ee15c197a29.woff") format("woff"),url("../fonts/1e5d8be2-7d9e-478f-bd87-79fd1763ae47.ttf") format("truetype"),url("../fonts/bc206454-d349-49a0-b7a8-9b0c299d8e28.svg#bc206454-d349-49a0-b7a8-9b0c299d8e28") format("svg");
}
@font-face{
    font-family:"Kessel_105 W05 Thin";
    src:url("../fonts/485c5242-683f-4c4d-a1ee-0944c2069aae.eot?#iefix");
    src:url("../fonts/485c5242-683f-4c4d-a1ee-0944c2069aae.eot?#iefix") format("eot"),url("../fonts/0030db6e-5c54-4ace-8db8-4e05d7aedf56.woff2") format("woff2"),url("../fonts/024e1f55-f6b8-4f43-a40c-b06dd524b6fe.woff") format("woff"),url("../fonts/f2f4a1dd-acb7-4c8c-9e39-37fc4aff6d82.ttf") format("truetype"),url("../fonts/c364ea59-8a70-4ffb-b28d-01b512e7d3fc.svg#c364ea59-8a70-4ffb-b28d-01b512e7d3fc") format("svg");
}
@font-face{
    font-family:"Kessel_105 W05 Light Oblique";
    src:url("../fonts/a8cc56f3-d958-4a6b-8b3b-719efc9feea2.eot?#iefix");
    src:url("../fonts/a8cc56f3-d958-4a6b-8b3b-719efc9feea2.eot?#iefix") format("eot"),url("../fonts/2d73807c-daf2-4dff-b6aa-efd6f1cd06bb.woff2") format("woff2"),url("../fonts/5dff92f4-95a4-40e0-9353-5b85f512fa5e.woff") format("woff"),url("../fonts/a7ab52d6-f697-4250-a235-12446b6325ff.ttf") format("truetype"),url("../fonts/3e56001a-e712-497d-851c-eec304f97951.svg#3e56001a-e712-497d-851c-eec304f97951") format("svg");
}
@font-face{
    font-family:"Kessel_105 W05 Book";
    src:url("../fonts/a46b1c45-4455-4bb7-809d-08d967e1d5f8.eot?#iefix");
    src:url("../fonts/a46b1c45-4455-4bb7-809d-08d967e1d5f8.eot?#iefix") format("eot"),url("../fonts/4ef0a65e-4088-4c1d-8586-12cc808bf27d.woff2") format("woff2"),url("../fonts/794a17a8-5b9d-4753-a586-a2067be39a81.woff") format("woff"),url("../fonts/9a21b5a0-5439-4c56-99b5-bb293cc0d002.ttf") format("truetype"),url("../fonts/bafa1eea-b5e4-4468-b0ce-d9d322a15d64.svg#bafa1eea-b5e4-4468-b0ce-d9d322a15d64") format("svg");
}
@font-face{
    font-family:"Kessel_105 W05 Book Oblique";
    src:url("../fonts/bd97addb-a714-4909-a96b-a4782f232fe3.eot?#iefix");
    src:url("../fonts/bd97addb-a714-4909-a96b-a4782f232fe3.eot?#iefix") format("eot"),url("../fonts/0e1f8152-612a-49dc-b21e-85dd258a9364.woff2") format("woff2"),url("../fonts/9e373b7d-2ada-4134-a6c9-0dcdba797482.woff") format("woff"),url("../fonts/bcfee51e-9cea-49be-9a1b-03d068eb4204.ttf") format("truetype"),url("../fonts/b6bae4db-7d0e-4c3d-b3d8-6778d3315403.svg#b6bae4db-7d0e-4c3d-b3d8-6778d3315403") format("svg");
}
@font-face{
    font-family:"Kessel_105 W05 Bold Oblique";
    src:url("../fonts/10f4b821-2ac5-40ea-898c-05fcea02b39e.eot?#iefix");
    src:url("../fonts/10f4b821-2ac5-40ea-898c-05fcea02b39e.eot?#iefix") format("eot"),url("../fonts/d1d46248-dd97-4ff1-a462-d09e6472e704.woff2") format("woff2"),url("../fonts/35ede230-1b2d-43c7-92ae-ff26d3902830.woff") format("woff"),url("../fonts/57312b96-d67d-4c4c-9be9-626da0766e6a.ttf") format("truetype"),url("../fonts/b5b3e937-702d-49b9-9770-19f015d0a6b0.svg#b5b3e937-702d-49b9-9770-19f015d0a6b0") format("svg");
}
@font-face{
    font-family:"Kessel_105 W05 Heavy";
    src:url("../fonts/55ce0d0d-9c1f-4904-95e4-f8f521c3c8cc.eot?#iefix");
    src:url("../fonts/55ce0d0d-9c1f-4904-95e4-f8f521c3c8cc.eot?#iefix") format("eot"),url("../fonts/5b853337-6d1f-421e-963e-d1b0a3ca8886.woff2") format("woff2"),url("../fonts/e5f7060a-2acb-4153-b731-1e18c5d7ee61.woff") format("woff"),url("../fonts/d3202abe-5036-40aa-b4fb-de69797a4386.ttf") format("truetype"),url("../fonts/f6325a6a-cb7c-49f0-b381-0d8c37a85c7d.svg#f6325a6a-cb7c-49f0-b381-0d8c37a85c7d") format("svg");
}
@font-face{
    font-family:"Kessel_105 W05 Thin Oblique";
    src:url("../fonts/3e3560a2-b00b-4e6f-a0e6-e042ecde725b.eot?#iefix");
    src:url("../fonts/3e3560a2-b00b-4e6f-a0e6-e042ecde725b.eot?#iefix") format("eot"),url("../fonts/a9593a69-4cb0-4084-935a-fc14c5f954bb.woff2") format("woff2"),url("../fonts/15507158-9840-4e51-9016-6672829e4364.woff") format("woff"),url("../fonts/1a9a642f-ad2d-4c36-b153-61e3ca1a1204.ttf") format("truetype"),url("../fonts/4ffba12e-96ab-40b7-ad7c-66fcde8094ab.svg#4ffba12e-96ab-40b7-ad7c-66fcde8094ab") format("svg");
}
@font-face{
    font-family:"Kessel_105 W05 Light";
    src:url("../fonts/231fc64f-1543-40d8-9bcd-edae473470d5.eot?#iefix");
    src:url("../fonts/231fc64f-1543-40d8-9bcd-edae473470d5.eot?#iefix") format("eot"),url("../fonts/f1d2a5dd-b86a-4f65-877c-fa892cf4378b.woff2") format("woff2"),url("../fonts/a4ade404-23be-47ca-8ede-a50bacbdbf24.woff") format("woff"),url("../fonts/aefd9309-0ebf-4851-a8ea-8604eb5ee728.ttf") format("truetype"),url("../fonts/f418d5e1-681c-45bb-a8da-b96e443dd4fa.svg#f418d5e1-681c-45bb-a8da-b96e443dd4fa") format("svg");
}
@font-face{
    font-family:"Kessel_105 W05 Bold";
    src:url("../fonts/b270fc80-fdea-45e3-bd03-69310485a6c7.eot?#iefix");
    src:url("../fonts/b270fc80-fdea-45e3-bd03-69310485a6c7.eot?#iefix") format("eot"),url("../fonts/47a36eb5-7058-4824-a944-09c4df5376c1.woff2") format("woff2"),url("../fonts/e06eb9d2-a074-4fa5-8469-72383553574b.woff") format("woff"),url("../fonts/5e080877-441f-4f77-9df6-2705c517701f.ttf") format("truetype"),url("../fonts/4548547e-5607-416e-8790-88da9a6cd6be.svg#4548547e-5607-416e-8790-88da9a6cd6be") format("svg");
}
@font-face{
    font-family:"Kessel_105 W05 Heavy Oblique";
    src:url("../fonts/2b647104-acaa-4ce0-873d-1daa22dd5f56.eot?#iefix");
    src:url("../fonts/2b647104-acaa-4ce0-873d-1daa22dd5f56.eot?#iefix") format("eot"),url("../fonts/2f86a746-88b8-423d-b251-585da555d458.woff2") format("woff2"),url("../fonts/d535a5a0-fc2b-4aba-bd87-bbfac745909c.woff") format("woff"),url("../fonts/fd9f7172-0280-4028-8ede-dab3a3b81be1.ttf") format("truetype"),url("../fonts/e2b1ae0c-5234-4e1f-a1c8-99d6cfc9a8e6.svg#e2b1ae0c-5234-4e1f-a1c8-99d6cfc9a8e6") format("svg");
}
