<p style="font-family: Arial">
Greetings,<br/><br/>

A new MVC CMS update has been rejected by {{requester_name}} and you are authorized to approve or reject this update. The update is listed here:<br/><br/>

Page Link: {{link}}<br/>
<br/>
<b>Existing Content:</b><br/>
{{content_existing}}<br/><br/>
<b>New Content:</b><br/>
{{content_update}}<br/><br/>
To approve the update, click here:<br/><br/>
<a href="{{link}}?mode=approve&content_id={{content_id}}&request_id={{id}}">{{link}}</a><br/><br/>
To contact the requester directly, you can email them <a href="mailto:{{requester_email}}">here</a>.
<br/><br/>
MVC CMS System
</p>