@charset "utf-8";
/* CSS Document */

body {
	font-size:12px;
	color:#333333;
}

sup {
	font-size:9px;	
}

#moreInfo {
	float:right;
	text-align:right;
	padding-right:12px;
	padding-top:62px;
}

#moreInfo p {
	font-size:14px;
	color:#161e46;
	font-family:"Times New Roman", Times, serif;
	line-height:16px;
}

#moreInfo p .phone {
	font-weight:bold;
	font-size:22px;
}

#moreInfo p .call {
	font-weight:bold;
	font-size:16px;
}

#resaleContent {
	width:963px;
	height:auto;
	background-position:1px top;
	padding-bottom:40px;
}

#tabHolder {
	width:963px;
	height:28px;
	padding-top:15px;
}

#tabs {
	width:715px;
	height:28px;
	background:url(images/tabs-bg.jpg) no-repeat;
	padding-left:6px;
	background-position:1px bottom;

	float:left;	
	
}

#tabs span {
	display:block;
	height:28px;
	width:auto;
	background:url(images/mid-tab.jpg) repeat-x #ffffff;
	float:left;	
}

#tabs span .img{
	float:left;
}

#tabs span a img{
	display:inline;
}

#tabs a {
	display:block;
	font-family:"Times New Roman", Times, serif;
	font-size:14px;
	height:28px;
	width:auto;
	line-height:28px;
	color:#161e46;
	text-decoration:none;
	padding-left:15px;
	padding-right:25px;
	float:left;
}

#tabs a img {
	display:inline;
	padding-right:10px;
}


#tabs a:hover {
	color:#a88646;	
}

#signPrint {
	width:222px;
	height:28px;
	padding-right:20px;
	float:left;
}
#signPrint img, #signPrint a{
	float:right;
	padding-top:0px;
	margin-top:0px;
	font-size:10px;
	line-height:11px;
	text-decoration:none;
}

#signPrint img {
	padding-left:10px;
	padding-right:3px;	
}




#leftCol{
	display:block;
	width:95%;
	padding-left:20px;
	height:auto;
	float:left;
	margin-top: 15px;
}


#leftCol p{
	color:#333333;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	padding-top:5px;
	padding-bottom:5px;
}

#leftCol p a, #leftCol ul a, #leftCol div a{
	background:none;
	padding:0;
	margin:0;
	text-decoration:underline;
}

#leftCol ul {
	margin-top:0px;
	padding-top:0px;
}

#leftCol div ul li {
	list-style:disc;
	margin-left: 15px;
}

#leftCol ul li{
	
}


a.plainBtn span {
	padding-top:3px;
	padding-bottom:3px;
	padding-left:13px;
	padding-right:13px;
	background:url(images/plainBtn-left.jpg) no-repeat left;
}

#leftCol a{
	padding-top:3px;
	padding-bottom:3px;
	line-height:22px;
	background:url(images/plainBtn-right.jpg) no-repeat right;
	text-decoration:none;
}





#leftCol a:hover {color:#a88646;}



/* Form Styling */

input.textBox {
	width:185px;
	height:20px;
	border:solid 1px #c9cbcc;
	color:#666;
	padding-left:5px;
	margin-left:0px;
	margin-bottom:4px;
	font-size:12px;
	padding-top:5px;
}

.field-box {
	width:197px;
	height:50px;
	margin-top:0px;
	float:left;
}

.field-box label {
	font-family:Verdana, Geneva, sans-serif;
	color:#333333;
	font-size:11px;
	margin-top:13px;
}

.field-box input {
	width:170px;
	height:17px;
	text-align:left;
}

#required-text {
	width:370px;
	height:25px;
	margin-top:0;
	padding-top:6px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#555555;
	text-align:left;
	float:left;
}

.tundra #content .dijitButtonNode {
	height:17px;
}

.submit-btn {
	
}

.submit-owner-btn {

}

.tundra #content .dijitComboBox {
	width:170px;
}


#infoBox {
	height:47px;
	width: 456px;
	border:solid 1px #ddcfb5;
	background:url(images/info-box-bg.jpg) repeat-x;
	margin-top:24px;
}

#infoBox p {
	display:block;
	text-align:center;
	line-height:47px;
	font-size:15px;
	padding:0px;
	margin:0px;
}
#infoBoxLong {
	height:47px;
	width: 696px;
	border:solid 1px #ddcfb5;
	background:url(images/info-box-bg.jpg) repeat-x;
	margin-top:24px;
}


#infoBoxLong p {
	display:block;
	text-align:center;
	line-height:47px;
	font-size:12px;
	padding-left:15px;
	padding-right:5px;
	padding-top:0px;
	padding-bottom:0px;
	margin:0px;
	float:left;	
}

.info-field-box {
	float:left;
}

.info-field-box img {
	padding-top:14px;
	/padding-top:6px;
}

.infoBarImg {
	padding-left:20px;
	padding-top:8px;
	float:left;
}

.resortImg {
	padding:2px;
	border:solid 1px #ddcfb5;
	float:left;
	margin-bottom:33px;
}

.resortImgThumb {
	padding:2px;
	float:left;
	margin-bottom:33px;
}

.resortDetails {
	height:100px;
	width:290px;
	float:left;
	padding-left:10px;
	display:block;
	overflow:hidden;
	margin-bottom:33px;
	position:relative;
}

.resortDetails img {
	display:inline;	
	padding-left:3px;
}

.resortDetails h2 {
	margin:0px;
	padding:0px;
	line-height:16px;
	font-size:16px;
	font-weight:bold;
	color:#333;
}
#leftCol .resortDetails p{
	line-height:12px;
	padding-top:0px;
	margin-top:0px;
	color:#333;	
}
.seasons {
	position:absolute;
	top:74px;
}
.resortPrice {
	display:block;
	height:100px;
	padding-left:12px;
	float:left;
	margin-bottom:33px;

}

.resortPrice h2 {
	margin:0px;
	padding:0px;
	line-height:22px;
	font-size:16px;
	font-weight:normal;
	color:#333;
	text-align:center;
}

.resortPrice h2 strong {
	font-size:20px;	
}

.resortPrice img{
	padding-top:24px;
}

.hr {
	display:block;
	height:1px;
	width:auto;
	background:url(images/resort-divider.jpg) no-repeat;
	border:none;
	margin-top:10px;
	background-color:none;	
}

.hrSmall {
	display:block;
	height:1px;
	width:auto;
	background:url(images/small-divider.jpg) no-repeat center;
	border:none;
	background-color:none;
	margin-top:10px;
	margin-bottom:10px;
	clear:both !important;
}

.smallViewResort {
	display:block;
	height:50px;	
	overflow:hidden;
}

.smallViewResort .resortDetails {
	width:345px;
	padding-left:15px;
}

.smallViewResort .resortDetails, .smallViewResort .resortPrice {
	height:108px;	
}

#leftCol .smallViewResort .resortPrice p {
	padding-top:0px;
	margin-top:0px;	
	line-height:12px;
}

#header{
	position:relative;
}
#branding{
	padding-top: 25px;
	margin:0;
}
#utilityNav {
    float: right;
    height: 50px;
    margin: 0;
    width: 750px;
}
#utilityNav .contact {
    margin-top: 12px;
}
#mainNav {
    position: relative;
	padding: 31px 0 0 0;
    z-index: 947;
	float:right;
	right: 0px;
	top:0px;
    padding-top: 76px;
	margin:0;
}
#mainNav .nav a{
	font-family:verdana;
	font-size:12px;
	padding-left:12px;
	padding-right:16px;
}
#mainNav .nav a:hover{
	color:#A88646;
}
#mainNav .nav a.selected{
	color:#A88646;
}

.clear{
	clear:both;
}

.tundra .dijitDialog {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 3px solid #A98546;
    padding: 0;
}
.tundra .dijitTextBox, .tundra .dijitComboBox, .tundra .dijitSpinner, .tundra .dijitTextArea, .tundra .dijitInlineEditor input { height: 18px; }
.dijitDialogPaneContent .dialogGallery h2 {
    margin: 10px 0 14px 8px;
}

.dropdownBox{
	width:740px;
	height:118px;
	background:url(images/dropdownContainer_bg.jpg) repeat-x bottom;
	border:#d5cab8 solid 1px;
	margin:20px 90px 20px 70px;
	padding:20px 0 0 30px;
}
#container .dropdownBox p{
	font-family:verdana;
	font-size:12px;
	color:#333333;
	padding:0;
	margin:0;
}
#container .dropdownBox p.required{
	font-size:9px;
	font-style:italic;
	color:#9e9e9e;
	padding:0;
	margin:0;
}

.dropdownBox .info-field-box{
	line-height:22px;
	padding:0 20px 0 0;
}

#container .dropdownBox .info-field-box p{
	font-size:11px;
}


/* grid styles */
.resort_container{
	background:url(images/gridContainer_bg.jpg) repeat-x bottom;
	border:#d4c9b7 solid 1px;
	width:870px;
	padding:20px;
	margin: 20px 0 0;
}

.resort_header{
	width:870px;
}
.resort_header ul{
	position: relative; left: 490px; width: 398px; clear: both;
}
#container .resort_header h1{
	font-family:verdana;
	font-size:16px;
	font-weight:bold;
	color:#a88646;
	padding:0;
	margin:0;
}
#container .resort_header h2{
	font-family:verdana;
	font-size:16px;
	font-weight:bold;
	padding:0;
	margin:0;
	color:#333333;
}
#container .resort_header p{
	font-family:verdana;
	font-size:12px;
	padding:0 0 10px 0;
	margin:0;
	line-height: 16px;
}
#container .resort_header a{
	color:#081a75;
	cursor:pointer;
}
#container .resort_header img{
	border:#d4c9b7 solid 1px;
	padding:2px;
	margin:5px 10px 0 0;
}
.left{ float:left; }
.right{ float:right; }
.clear{ clear:both; }

.grid_container{
	border:#d4c9b7 solid 1px;
	width:870px;
	margin:25px auto 0 auto;
}
.grid_container div{
	height:48px;	
}
#container .grid_container p{
	padding: 18px 0 0;
	margin:0;
	line-height:15px;
	text-align:center;
	font-size:11px;
}
#container .grid_container p.double{
	padding: 10px 0 0;
	margin:0;
	line-height:15px;
	text-align:center;
	font-size:11px;
}
#container .grid_container a{
	color:#081a75;
	line-height:48px;
	background: none;
    padding:0 0 0 7px;
    text-decoration: underline;
	text-align:center;
	font-size:11px;
}
#grid_display a{
	text-decoration:underline;
}
.row div{
	float:left;	
}
.dark{
	background:#f6f0e0;	
}
.light{
	background:#ffffff;	
}
.meta{
	background:url(images/meta_bg.jpg) repeat-x;
	border-bottom:#d4c9b7 solid 1px;
	text-align:center;
}
	#container .meta div div{
		position:relative;
    	top: -35px;
		height:22px;
		line-height: 12px;
	}
	#container .meta img{
		display:inline;
		cursor:pointer;
		border:0;
	}
	#container img.block{
		display:block;
	}
	#container .meta p{
		font-family:verdana;
		font-size:11px;
		font-weight:bold;
		color:#9c721d;
		line-height: 45px;
	}
	#container .meta .type_column p{		
		padding:0 15px 0 0;
	}
	#container .meta .view_column p{		
		padding:0 15px 0 0;
	}
	#container .meta .season_column p{		
		padding:0 15px 0 0;
	}
	#container .meta .usage_column p{		
		padding:0 28px 0 0;
	}
	#container .meta .points_column p{		
		line-height:12px;
		text-align:left;
		padding:5px 28px 0 10px;
	}
	#container .meta .frequency_column p{		
		line-height:12px;
		text-align:left;
		padding:5px 28px 0 10px;
	}
	#container .meta .pointsPlusFrequency_column p{		
		line-height:12px;
		text-align:left;
		padding:5px 28px 0 10px;
	}
	#container .meta .price_column p{
		padding:0 15px 0 0;
	}
	
	#container .meta .type_column div{
		right: -120px;
	}
	#container .meta .view_column div{
		right: -50px;
	}
	#container .meta .season_column div{
		right: -61px;
	}
	#container .meta .usage_column div{
		right: -67px;
	}
	#container .meta .points_column div{
		right: -67px;
    	top: -31px;
	}
	#container .meta .frequency_column div{
		right: -73px;
    	top: -31px;
	}
	#container .meta .pointsPlusFrequency_column div{
		right: -140px;
    	top: -20px;
	}	
	#container .meta .price_column div{
		right: -40px;
	}
		
.type_column{
	
	width:184px;
}
.view_column{
	border-left:#d4c9b7 solid 1px;
	width:70px;
}
.season_column{
	border-left:#d4c9b7 solid 1px;
	width:85px;
}
.usage_column{
	border-left:#d4c9b7 solid 1px;
	width:118px;
}
.points_column{
	border-left:#d4c9b7 solid 1px;
	width:95px;
}
.frequency_column{
	border-left:#d4c9b7 solid 1px;
	width:114px;
}
.pointsPlusFrequency_column{
	border-left:#d4c9b7 solid 1px;
	width:199px;
}
.price_column{
	border-left:#d4c9b7 solid 1px;
	width:60px;
}
.request_column{
	border-left:#d4c9b7 solid 1px;
	width:145px;
}

.tt{
	position:absolute;	
}
.tt p{
	font-family:verdana;
	color:#333333;
	font-size:11px;
	line-height: 14px;
}
/* end grid styles */

.tundra .dijitComboBox .dijitButtonNode {
    padding-bottom: 0px;
    padding-top: 2px;
}

h1, #leftCol h1 {
	color:#a88646;
	font-style:normal;
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;	
}

#content ul li {
	font-size:12px;	
}

#content h1 {
	margin-bottom:5px;	
}

#content .col1 h2, #leftCol h2{
	font-size:15px;
	font-weight:normal;
	margin-bottom:0px;
}

#content .col1 p.disclaimer {
	font-size:11px;
	font-weight:normal;
	margin-bottom:0px;
	color:#737373;
	padding-bottom:15px;
}

table.reasons {
	font-family:Verdana, Geneva, sans-serif;
	border-bottom:solid 1px #d5c9b7;
	border-right:solid 1px #d5c9b7;
	margin-bottom:10px;
	margin-top:10px;
}

table.reasons tr td {
	border:solid 1px #d5c9b7;
	width:244px;
	height:59px;
	background-color:#f5f0df;
	border-bottom:none;
	border-right:none;
	vertical-align:middle;
	text-align:center;
	line-height:14px;
	font-size:11px;
}

table.reasons tr.alt td {
	background-color:#ffffff;
}

table.reasons tr.header td {
	width:244px;
	height:48px;
	background:url(images/table-header.png) no-repeat;
	color:#9c721d;
	font-weight:bold;
}

.tundra .dijitDialogTitle {
	display:block;
	color:#ffffff;
	font-size:18px;
	font-family:Verdana, Geneva, sans-serif;
	background-color:#c7a663;
	font-weight:normal;
	padding-left:10px;
	padding-top:6px;
	padding-bottom:9px;
	
}

 .tundra .dijitDialog {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #ffffff;
    padding: 0;
}

.request-info-bar {
	display:block;
	width:434px;
	height:53px;
	border:solid 1px #d5c9b7;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	margin-top:14px;
	margin-bottom:14px;
}

.request-info-bar p {
	font:Verdana, Geneva, sans-serif;
	font-size:12px;
	color:#333333;
	line-height:41px;
	padding-left:30px;
}

.request-info-bar img {
	position:absolute;
	right:9px;
	top:9px;	
}


.resort_container {
	padding-bottom:0px;	
}


#header #branding {
    margin-top: 15px;
	padding-top: 0;
}
#header #mainNav {
    top: 92px;
	padding: 0;
	width: 100%;
	text-align: right;
}
#mainNav .nav {width:100%;}

#ownerLogin{
	background:none;
	display: block;
    float: left;
    height: 43px;
    line-height: 43px;
    padding: 0 20px 0 0;
    width: 80px;
}
#utilityNavDrop{
	width:307px;
	margin-left: 650px;	
}

#dialogGallery{
	width:819px !important;
	height:644px !important;	
	top: 30px !important;
}

#dialogGallery .dijitDialogPaneContent{
	width:789px !important;
	height:620px !important;	
}
.dijitDialogTitleBar, .tundra .dijitDialogTitleBar{
	 background-color: #c7a663;
    color: #ffffff;
    display: block;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 18px;
    font-weight: normal;
    height: 37px;
    line-height: 35px;
    padding-left: 14px;
    visibility: visible;
}

/* special offers */
.specialoffers{
	width:100%;	
}
.specialoffers h1{
	font-size:32px;
	text-align:center;
	color:#a98546;
	margin:35px 0 0 0;
}
.specialoffers p{
	font-size:14px;
	text-align:center;
	color:#636363;
	padding:15px 0;
}
.specialoffers div.offer{
	border:1px solid #e4e4e4;
	box-shadow: 10px 10px 5px #888888;
	box-shadow: -3px 3px 1px #d2d2d2;
	width:98%;
	margin:15px auto;
}
.specialoffers div.offer h2{
	font-size:16px;
	color:#636363;
	margin:20px 0 0 0;
}
.specialoffers div.offer div p{
	font-size:15px;
	text-align:left;
	color:#8c8c8c;
	line-height:20px;
    padding: 5px 0 0 0;
}
.specialoffers div.offer div.small{
	width:215px;	
}
.specialoffers div.offer div.medium{
	
}
.specialoffers div.offer div.full p{
	font-size:16px;
	color:#636363;
	text-align:center;
	background:#e4e4e4;
	
}
.specialoffers div.offer img{
	float:left;
	margin:10px 15px;
}
.left{
	float:left;
}

#leftCol .specialOffersIndexButton{
	position: relative;
	border:2px solid #009bd9;
	width:700px;
	margin:0 auto;
}
#leftCol .specialOffersIndexButton p{
	color:#636363;
	font-size:16px;
	padding:12px 0 12px 60px;	
}
#leftCol .specialOffersIndexButton p strong{
	font-size:18px;
}
#leftCol .specialOffersIndexButton img{
    position: absolute;
    right: 20px;
	top:9px;
}